<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New walgrounds</title>
</head>
<body>
    <form action="/walgrounds" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="walgrounds[title]"></input>
        </div>
        <div>
            <label for="resolution">Resolution</label>
            <input type="Number" id="resolution" name="walgrounds[resolution]"></input>
        </div>
        <button>Add walgrounds</button>
        <button><a href="/walgrounds">All Walgrounds</a></button>
    </form>

</body>
</html>