<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Walgrounds</title>
  </head>
  <body>
    <h1>Details</h1>
    <ul>
      <li><%= walgrounds.title %></li>
      <li><%= walgrounds.resolution %></li>
      <li><%= walgrounds.Description %></li>
    </ul>
  </body>
</html>
